h1, h2{
    color: var(--text-color);
}
.text-sm{
    font-size: 1rem;
}
.text-m{
    font-size: 1.5rem;
}
.text-l{
    font-size: 2rem;
}
.text-2xl{
    font-size: 2.5rem;
}
.text-center{
    text-align: center;
}